/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Encabezado */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección de Cursos */
#Cursos h2 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

form {
    margin: 20px auto;
    width: 80%;
}

#course, #course2, #course3, #course4, #course5 {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.course-title, .course2-title, .course3-title, .course4-title, .course5-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #4CAF50;
}

.course-info, .course2-info, .course3-info, .course4-info, .course5-info {
    margin: 5px 0;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Sección de Agregar Cursos */
#AgregarCurso h3 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

form label {
    font-weight: bold;
}

form input[type="text"], form input[type="docente"], form input[type="fechaInicio"], form input[type="duracion"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Sección de Contacto */
#Contacto h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
